# Cert signing requests
*.csr
*.srl

# Editor files
*.swp
*sublime-*
.idea
.DS_Store
.vscode
XDG_CACHE_HOME
XDG_CACHE_HOME/*

# Ignore build dirs
out
release

# Ignore build artifacts
*.rpm
!glibc/*.rpm
*.pyc

# Delve debugger compiled binaries
debug.*

# Compiled documentation
root.html
home.html
api.html
rest.html
changelog.html
environment.html
server/root.html
server/home.html
server/js/*.png
docs/internal/*.png
docs/*.html

docker/ui
docker/ui.tar
docker/ui-*.tar
docker/odrive-ui-*.tar.gz*

# Bbuild logs
odrive_build.log
