<html>
<head><title>APISample</title>
<style>

    body {
        font-family: "Arial", Times, serif;
    }
    pre.request {
        background-color: black;
        color: rgb(0,255,0);
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
    }
    pre.response {
        background-color: black;
        color: rgb(64,255,64);
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
    }
	span.notshown {
		color: red;
	}

</style>
</head>
<body>
<h1>APISample</h1>

			This is a sampling of successful tests that exhibit correct cases for using the API,
			at the level of http traffic.  
		<h2>Table Of Contents</h2><ul></ul><br/></body></html>
