<!DOCTYPE html>
<html lang='en'>
   <head>
      <title>Object-Drive</title>
      <meta charset='utf-8'>
      <base href="{{ .RootURL }}" />
      <link rel="stylesheet" href="{{ .RootURL }}/static/js/ajax/libs/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="{{ .RootURL }}/static/js/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script> <script src="{{ .RootURL }}/static/js/ajax/libs/reqwest/2.0.5/reqwest.js"></script> <script src="{{ .RootURL }}/static/js/ajax/libs/then-request/2.1.1/request.js"></script>
      <script src="{{ .RootURL }}/static/js/listObjects.js"></script>
   </head>
   <body>
     <div class="container-fluid">
      <a href="{{ .RootURL }}/ui/">Return Home</a>
      <p>
         {{ .DistinguishedName }}
      </p>
      <div id="hiddenParentId" type="hidden" data-value="{{ .ParentID }}" ></div>
      <h1>List Objects</h1>
      <!-- results table -->
      <div>
         <table class="table" id="listObjectResults">
            <thead>
               <tr>
                  <td>Name</td>
                  <td>Type</td>
                  <td>Created Date</td>
                  <td>Created By</td>
                  <td>Size</td>
                  <td>ChangeToken</td>
                  <td>Classification</td>
                  <td>Share To</td>
                  <td>Delete</td>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
         <button id="refreshListObjects">Refresh</button>
      </div>
      <h1>Shared With Me</h1>
      <div>
         <table class="table" id="listSharedWithMeResults">
            <thead>
               <tr>
                  <td>Name</td>
                  <td>Type</td>
                  <td>Created Date</td>
                  <td>Created By</td>
                  <td>Size</td>
                  <td>ChangeToken</td>
                  <td>Classification</td>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
         <button id="refreshSharedWithMe">Refresh</button>
      </div>
      <h1>Objects I Shared</h1>
      <div>
          <table class="table" id="listUserObjectsSharedResults">
            <thead>
               <tr>
                  <td>Name</td>
                  <td>Type</td>
                  <td>Created Date</td>
                  <td>Created By</td>
                  <td>Size</td>
                  <td>ChangeToken</td>
                  <td>Classification</td>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table> 
         <button id="refreshListObjectsShared">Refresh</button>             
      </div>
      <h1>Create Folder</h1>
      <div>
         <form >
            <input id="folderNameInput"  type="text"  /><br />
            <select id="newFolderClassification"  type="select">
               <optgroup label="Shares to ODrive (tester1-10)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>
               <optgroup label="Shares to ODrive Group1 (tester6-10)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>
               <optgroup label="Shares to ODrive Group2 (tester1-5)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>                
               <optgroup label="Shares to Everyone (any pki)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;]}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;]}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;]}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;]}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;]}">TOP SECRET//SI/TK</option>
               </optgroup>
            </select>
         </form>
         <button id="submitCreateFolder">Submit</button>
      </div>
      <!-- create object form -->
      <h1>Create Object</h1>
      <div>
         <form >
            <input id="newObjectName"  type="text"  /><br />
            <select id="newObjectClassification"  type="select">
               <optgroup label="Shares to ODrive (tester1-10)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>
               <optgroup label="Shares to ODrive Group1 (tester6-10)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G1&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>
               <optgroup label="Shares to ODrive Group2 (tester1-5)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;share&quot;:{&quot;projects&quot;:{&quot;DCTC&quot;:{&quot;disp_nm&quot;:&quot;DCTC&quot;,&quot;groups&quot;:[&quot;ODrive_G2&quot;]}}}}">TOP SECRET//SI/TK</option>
               </optgroup>                
               <optgroup label="Shares to Everyone (any pki)">
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;]}">UNCLASSIFIED</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;U&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;U//FOUO&quot;,&quot;banner&quot;:&quot;UNCLASSIFIED//FOUO&quot;,&quot;dissem_ctrls&quot;:[&quot;FOUO&quot;],&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;u&quot;]}">UNCLASSIFIED//FOUO</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;C&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;C//NF&quot;,&quot;banner&quot;:&quot;CONFIDENTIAL//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;c&quot;]}
">CLASSIFIED//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;S&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;portion&quot;:&quot;S//NF&quot;,&quot;banner&quot;:&quot;SECRET//NF&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;dissem_ctrls&quot;:[&quot;nf&quot;],&quot;f_clearance&quot;:[&quot;s&quot;]}
">SECRET//NF</option>
                  <option value="{&quot;version&quot;:&quot;2.1.0&quot;,&quot;classif&quot;:&quot;TS&quot;,&quot;owner_prod&quot;:[&quot;USA&quot;],&quot;sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;],&quot;portion&quot;:&quot;TS//SI/TK&quot;,&quot;banner&quot;:&quot;TOP SECRET//SI/TK&quot;,&quot;dissem_countries&quot;:[&quot;USA&quot;],&quot;f_clearance&quot;:[&quot;ts&quot;],&quot;f_sci_ctrls&quot;:[&quot;si&quot;,&quot;tk&quot;]}">TOP SECRET//SI/TK</option>
               </optgroup>
            </select>
            <input id="fileHandle"  type="file" name="filestream"/>
         </form>
         <button id="submitCreateObject">Submit</button>
      </div>
    </div>
   </body>
</html>
