[mysqld]
# Encrypt data in transit
ssl-ca=/ca.pem
ssl-cert=/server-cert.pem
ssl-key=/server-key.pem

# Timezone
default_time_zone='+00:00'

# Data directory
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
# Set strict mode
sql_mode="STRICT_ALL_TABLES"

slow_query_log=1
slow_query_log_file=/var/log/mariadb/mariadb-slow.log
long_query_time=0.1
log-slow-queries=/var/log/mariadb/mariadb-slow2.log
log-queries-not-using-indexes
# Default buffer pool size is 128MB
innodb_buffer_pool_size=134217728
# For testing larger data sets, use bigger values. 
# 8GB = 8589934592
# AWS RDS will generally set this value to 5/8 of the memory on that instance by size.

# Set isolation level so that each query reflects most recent committed data
transaction_isolation = READ-COMMITTED
 
[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
