[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
x509_extensions=v3_req

[req_distinguished_name]
C = US
ST = VA
L = Arlington
O = Decipher
OU = Object-Drive
CN = Generic Client

[v3_req]
keyUsage = digitalSignature, nonRepudiation, keyAgreement, keyEncipherment, dataEncipherment
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[alt_names]

DNS.1 = Developer
DNS.2 = Decipherer
