[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
x509_extensions=v3_req

[req_distinguished_name]
C = US
ST = VA
L = Arlington
O = Decipher
OU = Object-Drive
CN = fqdn.for.metadatadb.local

[v3_req]
keyUsage = digitalSignature, nonRepudiation, keyAgreement, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]

DNS.1 = fqdn.for.metadatadb.local
DNS.2 = metadatadb.local
DNS.3 = metadatadb
